@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&family=Poppins:wght@300;400;700&display=swap');

* {
  font-family: 'Hanken Grotesk', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.results-displayer {
  background-color: white;
}

.score {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px 30px;
  padding: 35px;
  gap: 12px;
}

.score h3 {
  margin-top: 0;
  color: hsla(0, 0%, 100%, 0.65);
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.circle :first-child {
  font-size: 3.2rem;
  color: white;
  font-weight: 800;
  margin: 0;
}

.circle :last-child {
  margin: 0;
  color: hsla(0, 0%, 100%, 0.4);
}

.score-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
}

.score-text :first-child {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 12px;
}

.score-text :last-child {
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
  margin: 0;
}

.summary-container {
  padding: 30px;
}

.summary-container h4 {
  margin-top: 0;
  font-size: 1.3rem;
  color: hsl(224, 30%, 27%);
}

.stats,
.stat-title {
  display: flex;
  align-items: center;
}

.stats {
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 15px 0 10px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.stat-title img {
  margin-right: 10px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsla(0, 100%, 67%, 1);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsla(39, 100%, 56%, 1);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsla(166, 100%, 37%, 1);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsla(234, 85%, 45%, 1);
}

.reaction-score,
.memory-score,
.verbal-score,
.visual-score {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}

.reaction-score span,
.memory-score span,
.verbal-score span,
.visual-score span {
  color: hsla(224, 30%, 27%, 0.5);
}

.summary-container button {
  width: 100%;
  height: 60px;
  background-color: hsl(224, 30%, 27%);
  border: 0;
  color: white;
  border-radius: 30px;
  font-size: 1.2rem;
  margin-top: 10px;
}

.summary-container button:hover {
  cursor: pointer;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  .results-displayer {
    display: flex;
    border-radius: 30px;
    max-width: 700px;
    box-shadow: 4px 4px 20px hsla(222, 42%, 81%, 0.5);
  }

  .score {
    width: 50%;
    border-radius: 30px;
    justify-content: space-between;
  }

  .summary-container {
    width: 50%;
    padding: 40px;
  }

  .stats {
    height: 50px;
    font-size: 1rem;
  }

  .circle {
    width: 180px;
    height: 180px;
  }

  .circle :first-child {
    font-size: 3.6rem;
  }

  .score h3 {
    font-size: 1.5rem;
  }

  .attribution {
    margin-top: 20px;
  }
}